In [1]:
from src.generator import main
out = main()

Parameters
Done
Clock
Done
Generators
Done
initialise Time Generators
Done
Create callers
Done
Added atributes
Creating social network
Done
Done SNA
Mobility
Network created
Done all customers
Creating circus
Done
Start run

In [ ]:
out[0].get_contents()[1]["customers"]._transient_attributes["CELL"]._table

In [2]:
out[1]

,A,PRODUCT,DURATION,TYPE,VALUE,B,PASS_CONDITIONS,datetime,A_NUMBER,B_NUMBER,CELL_A,CELL_B
0,0000000001,VOICE,0.135785,VOICE,0.135785,0000000020,1,08062016 00:35:13,0032478242305,0032478721241,CELL_0078,CELL_0034
1,0000000025,SMS,NaN,SMS,10.000000,0000000020,1,08062016 00:46:34,0032478183739,0032475285531,CELL_0038,CELL_0090
2,0000000029,VOICE,3.402734,VOICE,3.402734,0000000052,1,08062016 00:08:18,0032475314390,0032479599658,CELL_0075,CELL_0048
3,0000000031,SMS,NaN,SMS,10.000000,0000000009,1,08062016 00:52:01,0032477951929,0032475930087,CELL_0026,CELL_0017
4,0000000052,VOICE,0.301749,VOICE,0.301749,0000000082,1,08062016 00:02:51,0032479896864,0032475930087,CELL_0096,CELL_0017
5,0000000086,SMS,NaN,SMS,10.000000,0000000036,1,08062016 00:46:39,0032477423637,0032479448782,CELL_0090,CELL_0075
6,0000000087,SMS,NaN,SMS,10.000000,0000000004,1,08062016 00:09:15,0032476652753,0032479896864,CELL_0081,CELL_0096
7,0000000091,SMS,NaN,SMS,10.000000,0000000079,1,08062016 00:48:27,0032472634511,0032473520580,CELL_0095,CELL_0023
8,0000000093,VOICE,2.275325,VOICE,2.275325,0000000000,1,08062016 00:00:32,0032478242348,0032478429084,CELL_0050,CELL_0010
9,0000000095,VOICE,0.472807,VOICE,0.472807,0000000054,1,08062016 00:03:35,0032478280902,0032479695526,CELL_0080,CELL_0032
10,0000000000,SMS,NaN,SMS,10.000000,0000000014,1,08062016 01:36:24,0032478721241,0032476053706,CELL_0034,CELL_0082
11,0000000001,SMS,NaN,SMS,10.000000,0000000020,1,08062016 01:41:46,0032478242305,0032476504058,CELL_0078,CELL_0035
12,0000000008,VOICE,0.409807,VOICE,0.409807,0000000032,1,08062016 01:21:30,0032476504058,0032475568602,CELL_0035,CELL_0020
13,0000000012,VOICE,0.600343,VOICE,0.600343,0000000088,1,08062016 01:55:40,0032472327922,0032475930087,CELL_0067,CELL_0017
14,0000000019,SMS,NaN,SMS,10.000000,0000000055,1,08062016 01:43:00,0032473505482,0032477442558,CELL_0023,CELL_0079
15,0000000022,SMS,NaN,SMS,10.000000,0000000059,1,08062016 01:16:43,0032477442558,0032473325339,CELL_0079,CELL_0076
16,0000000025,SMS,NaN,SMS,10.000000,0000000066,1,08062016 01:05:03,0032478183739,0032475314390,CELL_0038,CELL_0075
17,0000000029,SMS,NaN,SMS,10.000000,0000000095,1,08062016 01:45:38,0032475314390,0032475128009,CELL_0075,CELL_0010
18,0000000030,SMS,NaN,SMS,10.000000,0000000097,1,08062016 01:07:50,0032479309206,0032476607188,CELL_0080,CELL_0055
19,0000000044,VOICE,1.834177,VOICE,1.834177,0000000053,1,08062016 01:48:38,0032473948565,0032472110598,CELL_0069,CELL_0089
20,0000000050,VOICE,0.131365,VOICE,0.131365,0000000045,1,08062016 01:26:10,0032477041814,0032472363537,CELL_0095,CELL_0098
21,0000000054,VOICE,0.783129,VOICE,0.783129,0000000088,1,08062016 01:15:10,0032473520580,0032476350908,CELL_0023,CELL_0070
22,0000000062,VOICE,0.466828,VOICE,0.466828,0000000088,1,08062016 01:11:50,0032477301411,0032475832908,CELL_0069,CELL_0071
23,0000000063,SMS,NaN,SMS,10.000000,0000000037,1,08062016 01:37:22,0032476726160,0032479838912,CELL_0011,CELL_0069
24,0000000064,VOICE,0.594201,VOICE,0.594201,0000000029,1,08062016 01:19:59,0032472666247,0032475197657,CELL_0022,CELL_0091
25,0000000065,VOICE,0.138619,VOICE,0.138619,0000000082,1,08062016 01:10:06,0032475145966,0032479695526,CELL_0008,CELL_0032
26,0000000072,VOICE,1.965247,VOICE,1.965247,0000000027,1,08062016 01:49:49,0032479406285,0032473055520,CELL_0067,CELL_0075
27,0000000074,VOICE,1.716958,VOICE,1.716958,0000000022,1,08062016 01:31:48,0032472558797,0032475734796,CELL_0014,CELL_0061
28,0000000077,VOICE,0.433947,VOICE,0.433947,0000000003,1,08062016 01:54:47,0032477769523,0032475734796,CELL_0090,CELL_0061
29,0000000086,SMS,NaN,SMS,10.000000,0000000084,1,08062016 01:54:44,0032477423637,0032475734796,CELL_0090,CELL_0061
...,...,...,...,...,...,...,...,...,...,...,...,...
244,0000000092,SMS,NaN,SMS,10.000000,0000000055,1,08062016 08:04:41,0032477316009,0032477632395,CELL_0022,CELL_0030
245,0000000001,SMS,NaN,SMS,10.000000,0000000020,1,08062016 09:33:56,0032478242305,0032478242305,CELL_0078,CELL_0078
246,0000000003,SMS,NaN,SMS,10.000000,0000000021,1,08062016 09:11:38,0032476053706,0032476504058,CELL_0082,CELL_0032
247,0000000004,SMS,NaN,SMS,10.000000,0000000090,1,08062016 09:42:40,0032475285531,0032476504058,CELL_0090,CELL_0032
248,0000000007,VOICE,1.188610,VOICE,1.188610,0000000024,1,08062016 09:45:03,0032476081367,0032479599658,CELL_0035,CELL_0048
249,0000000016,VOICE,0.466103,VOICE,0.466103,0000000064,1,08062016 09:13:25,0032479922117,0032479599658,CELL_0073,CELL_0048
250,0000000017,VOICE,0.537023,VOICE,0.537023,0000000018,1,08062016 09:03:58,0032473435415,0032479599658,CELL_0070,CELL_0048
251,0000000018,SMS,NaN,SMS,10.000000,0000000060,1,08062016 09:17:38,0032477903660,0032473435415,CELL_0007,CELL_0070
252,0000000020,VOICE,0.388359,VOICE,0.388359,0000000024,1,08062016 09:55:28,0032475930087,0032477903660,CELL_0017,CELL_0007
253,0000000023,SMS,NaN,SMS,10.000000,0000000017,1,08062016 09:24:06,0032472456631,0032475930087,CELL_0075,CELL_0017
254,0000000028,SMS,NaN,SMS,10.000000,0000000001,1,08062016 09:22:40,0032478038562,0032475930087,CELL_0064,CELL_0017
255,0000000029,VOICE,1.633648,VOICE,1.633648,0000000052,1,08062016 09:48:23,0032475314390,0032478630264,CELL_0075,CELL_0005
256,0000000030,SMS,NaN,SMS,10.000000,0000000009,1,08062016 09:25:56,0032479309206,0032473420596,CELL_0080,CELL_0070
257,0000000031,SMS,NaN,SMS,10.000000,0000000095,1,08062016 09:15:29,0032477951929,0032473420596,CELL_0051,CELL_0070
258,0000000034,VOICE,0.544571,VOICE,0.544571,0000000050,1,08062016 09:01:07,0032476108728,0032478183739,CELL_0044,CELL_0061
259,0000000037,SMS,NaN,SMS,10.000000,0000000054,1,08062016 09:54:46,0032476607188,0032479309206,CELL_0055,CELL_0080
260,0000000038,VOICE,1.535345,VOICE,1.535345,0000000031,1,08062016 09:25:26,0032473658675,0032477951929,CELL_0064,CELL_0051
261,0000000042,SMS,NaN,SMS,10.000000,0000000041,1,08062016 09:11:52,0032473127682,0032477951929,CELL_0077,CELL_0051
262,0000000045,SMS,NaN,SMS,10.000000,0000000031,1,08062016 09:09:27,0032472110598,0032475164284,CELL_0089,CELL_0034
263,0000000056,SMS,NaN,SMS,10.000000,0000000040,1,08062016 09:30:10,0032472752156,0032476108728,CELL_0078,CELL_0044
264,0000000057,VOICE,1.195305,VOICE,1.195305,0000000030,1,08062016 09:37:03,0032472363356,0032472787007,CELL_0010,CELL_0044
265,0000000066,SMS,NaN,SMS,10.000000,0000000025,1,08062016 09:19:17,0032475197657,0032477480082,CELL_0091,CELL_0045
266,0000000080,SMS,NaN,SMS,10.000000,0000000033,1,08062016 09:12:38,0032477365397,0032472110598,CELL_0050,CELL_0089
267,0000000086,VOICE,0.694624,VOICE,0.694624,0000000020,1,08062016 09:05:29,0032477423637,0032477041814,CELL_0090,CELL_0002
268,0000000087,SMS,NaN,SMS,10.000000,0000000008,1,08062016 09:25:41,0032476652753,0032479896864,CELL_0081,CELL_0041
269,0000000088,VOICE,0.964728,VOICE,0.964728,0000000008,1,08062016 09:44:00,0032475734796,0032473520580,CELL_0061,CELL_0035
270,0000000090,VOICE,0.687681,VOICE,0.687681,0000000009,1,08062016 09:45:16,0032477516290,0032476644818,CELL_0046,CELL_0052
271,0000000091,VOICE,0.752872,VOICE,0.752872,0000000009,1,08062016 09:59:47,0032472634511,0032472666247,CELL_0095,CELL_0022
272,0000000094,VOICE,1.470509,VOICE,1.470509,0000000034,1,08062016 09:18:16,0032477632395,0032477516290,CELL_0030,CELL_0046
273,0000000098,VOICE,0.030832,VOICE,0.030832,0000000045,1,08062016 09:15:38,0032477385312,0032478280902,CELL_0041,CELL_0054

In [ ]:
out[2]

In [ ]:
out[3]

In [ ]:
from src.util_functions import assign_random_proportions

x = assign_random_proportions("A","Product",range(10),range(2),123456)

In [ ]:
x