In [1]:
from src.generator import main
out = main()

Parameters
Done
Clock
Done
Generators
Done
initialise Time Generators
Done
Create callers
Done
Added atributes
Creating social network
              A           B
0    0000000000  0000000006
1    0000000000  0000000010
2    0000000000  0000000013
3    0000000000  0000000014
4    0000000000  0000000021
5    0000000000  0000000032
6    0000000000  0000000038
7    0000000000  0000000041
8    0000000000  0000000044
9    0000000000  0000000048
10   0000000000  0000000049
11   0000000000  0000000051
12   0000000000  0000000052
13   0000000000  0000000059
14   0000000000  0000000063
15   0000000000  0000000064
16   0000000000  0000000067
17   0000000000  0000000071
18   0000000000  0000000074
19   0000000000  0000000083
20   0000000000  0000000084
21   0000000000  0000000093
22   0000000000  0000000098
23   0000000001  0000000004
24   0000000001  0000000006
25   0000000001  0000000008
26   0000000001  0000000011
27   0000000001  0000000017
28   0000000001  0000000018
29   0000000001  0000000020
..          ...         ...
961  0000000080  0000000087
962  0000000080  0000000091
963  0000000081  0000000090
964  0000000081  0000000092
965  0000000081  0000000095
966  0000000082  0000000084
967  0000000083  0000000088
968  0000000083  0000000093
969  0000000084  0000000086
970  0000000084  0000000091
971  0000000084  0000000095
972  0000000084  0000000096
973  0000000085  0000000090
974  0000000085  0000000098
975  0000000087  0000000088
976  0000000087  0000000090
977  0000000087  0000000094
978  0000000087  0000000096
979  0000000088  0000000089
980  0000000088  0000000097
981  0000000089  0000000099
982  0000000089  0000000092
983  0000000090  0000000091
984  0000000090  0000000093
985  0000000090  0000000094
986  0000000090  0000000097
987  0000000091  0000000096
988  0000000093  0000000098
989  0000000093  0000000097
990  0000000094  0000000095

[991 rows x 2 columns]
Done
Done SNA
Mobility
Network created
Done all customers
Creating circus
Done
Start run
iteration 0 on 10

iteration 1 on 10

iteration 2 on 10

iteration 3 on 10

iteration 4 on 10

iteration 5 on 10

iteration 6 on 10

iteration 7 on 10

iteration 8 on 10

iteration 9 on 10

In [ ]:
out[0].get_contents()[1]["customers"]._transient_attributes["CELL"]._table

In [2]:
out[1]

,A,B,datetime,A_NUMBER,B_NUMBER,CELL_A,CELL_B
0,0000000001,0000000020,08062016 00:35:13,0032478242305,0032478721241,CELL_0096,CELL_0008
1,0000000025,0000000020,08062016 00:46:34,0032478183739,0032475285531,CELL_0077,CELL_0000
2,0000000029,0000000052,08062016 00:08:18,0032475314390,0032479599658,CELL_0024,CELL_0007
3,0000000031,0000000009,08062016 00:52:01,0032477951929,0032475930087,CELL_0079,CELL_0051
4,0000000052,0000000082,08062016 00:02:51,0032479896864,0032475930087,CELL_0094,CELL_0051
5,0000000086,0000000036,08062016 00:46:39,0032477423637,0032479448782,CELL_0021,CELL_0014
6,0000000087,0000000004,08062016 00:09:15,0032476652753,0032479896864,CELL_0040,CELL_0094
7,0000000091,0000000079,08062016 00:48:27,0032472634511,0032473520580,CELL_0012,CELL_0049
8,0000000093,0000000000,08062016 00:00:32,0032478242348,0032478429084,CELL_0099,CELL_0009
9,0000000095,0000000054,08062016 00:03:35,0032478280902,0032479695526,CELL_0050,CELL_0081
10,0000000000,0000000014,08062016 01:36:24,0032478721241,0032476053706,CELL_0008,CELL_0084
11,0000000001,0000000020,08062016 01:41:46,0032478242305,0032476504058,CELL_0096,CELL_0011
12,0000000008,0000000032,08062016 01:21:30,0032476504058,0032475568602,CELL_0011,CELL_0008
13,0000000012,0000000088,08062016 01:55:40,0032472327922,0032475930087,CELL_0049,CELL_0051
14,0000000019,0000000055,08062016 01:43:00,0032473505482,0032477442558,CELL_0051,CELL_0071
15,0000000022,0000000059,08062016 01:16:43,0032477442558,0032473325339,CELL_0071,CELL_0045
16,0000000025,0000000066,08062016 01:05:03,0032478183739,0032475314390,CELL_0077,CELL_0024
17,0000000029,0000000095,08062016 01:45:38,0032475314390,0032475128009,CELL_0024,CELL_0014
18,0000000030,0000000097,08062016 01:07:50,0032479309206,0032476607188,CELL_0016,CELL_0063
19,0000000044,0000000053,08062016 01:48:38,0032473948565,0032472110598,CELL_0057,CELL_0021
20,0000000050,0000000045,08062016 01:26:10,0032477041814,0032472363537,CELL_0022,CELL_0058
21,0000000054,0000000088,08062016 01:15:10,0032473520580,0032476350908,CELL_0049,CELL_0012
22,0000000062,0000000088,08062016 01:11:50,0032477301411,0032475832908,CELL_0080,CELL_0063
23,0000000063,0000000037,08062016 01:37:22,0032476726160,0032479838912,CELL_0019,CELL_0010
24,0000000064,0000000029,08062016 01:19:59,0032472666247,0032475197657,CELL_0013,CELL_0026
25,0000000065,0000000082,08062016 01:10:06,0032475145966,0032479695526,CELL_0025,CELL_0081
26,0000000072,0000000027,08062016 01:49:49,0032479406285,0032473055520,CELL_0052,CELL_0006
27,0000000074,0000000022,08062016 01:31:48,0032472558797,0032475734796,CELL_0072,CELL_0093
28,0000000077,0000000003,08062016 01:54:47,0032477769523,0032475734796,CELL_0045,CELL_0093
29,0000000086,0000000084,08062016 01:54:44,0032477423637,0032475734796,CELL_0021,CELL_0093
...,...,...,...,...,...,...,...
244,0000000092,0000000055,08062016 08:04:41,0032477316009,0032477632395,CELL_0091,CELL_0092
245,0000000001,0000000020,08062016 09:33:56,0032478242305,0032478242305,CELL_0096,CELL_0096
246,0000000003,0000000021,08062016 09:11:38,0032476053706,0032476504058,CELL_0084,CELL_0047
247,0000000004,0000000090,08062016 09:42:40,0032475285531,0032476504058,CELL_0000,CELL_0047
248,0000000007,0000000024,08062016 09:45:03,0032476081367,0032479599658,CELL_0001,CELL_0007
249,0000000016,0000000064,08062016 09:13:25,0032479922117,0032479599658,CELL_0036,CELL_0007
250,0000000017,0000000018,08062016 09:03:58,0032473435415,0032479599658,CELL_0039,CELL_0007
251,0000000018,0000000060,08062016 09:17:38,0032477903660,0032473435415,CELL_0023,CELL_0039
252,0000000020,0000000024,08062016 09:55:28,0032475930087,0032477903660,CELL_0051,CELL_0023
253,0000000023,0000000017,08062016 09:24:06,0032472456631,0032475930087,CELL_0020,CELL_0051
254,0000000028,0000000001,08062016 09:22:40,0032478038562,0032475930087,CELL_0096,CELL_0051
255,0000000029,0000000052,08062016 09:48:23,0032475314390,0032478630264,CELL_0024,CELL_0018
256,0000000030,0000000009,08062016 09:25:56,0032479309206,0032473420596,CELL_0016,CELL_0012
257,0000000031,0000000095,08062016 09:15:29,0032477951929,0032473420596,CELL_0055,CELL_0012
258,0000000034,0000000050,08062016 09:01:07,0032476108728,0032478183739,CELL_0090,CELL_0074
259,0000000037,0000000054,08062016 09:54:46,0032476607188,0032479309206,CELL_0063,CELL_0016
260,0000000038,0000000031,08062016 09:25:26,0032473658675,0032477951929,CELL_0016,CELL_0055
261,0000000042,0000000041,08062016 09:11:52,0032473127682,0032477951929,CELL_0023,CELL_0055
262,0000000045,0000000031,08062016 09:09:27,0032472110598,0032475164284,CELL_0021,CELL_0056
263,0000000056,0000000040,08062016 09:30:10,0032472752156,0032476108728,CELL_0006,CELL_0090
264,0000000057,0000000030,08062016 09:37:03,0032472363356,0032472787007,CELL_0088,CELL_0072
265,0000000066,0000000025,08062016 09:19:17,0032475197657,0032477480082,CELL_0026,CELL_0054
266,0000000080,0000000033,08062016 09:12:38,0032477365397,0032472110598,CELL_0022,CELL_0021
267,0000000086,0000000020,08062016 09:05:29,0032477423637,0032477041814,CELL_0021,CELL_0017
268,0000000087,0000000008,08062016 09:25:41,0032476652753,0032479896864,CELL_0040,CELL_0034
269,0000000088,0000000008,08062016 09:44:00,0032475734796,0032473520580,CELL_0093,CELL_0037
270,0000000090,0000000009,08062016 09:45:16,0032477516290,0032476644818,CELL_0066,CELL_0028
271,0000000091,0000000009,08062016 09:59:47,0032472634511,0032472666247,CELL_0012,CELL_0013
272,0000000094,0000000034,08062016 09:18:16,0032477632395,0032477516290,CELL_0092,CELL_0066
273,0000000098,0000000045,08062016 09:15:38,0032477385312,0032478280902,CELL_0049,CELL_0056

In [3]:
out[2]

             A        new           datetime
0   0000000052  CELL_0034  08062016 00:11:16
1   0000000095  CELL_0012  08062016 01:16:59
2   0000000031  CELL_0055  08062016 02:50:50
3   0000000093  CELL_0019  08062016 02:48:04
4   0000000025  CELL_0074  08062016 03:04:21
5   0000000095  CELL_0056  08062016 03:30:23
6   0000000072  CELL_0072  08062016 04:28:01
7   0000000050  CELL_0017  08062016 05:50:42
8   0000000054  CELL_0037  08062016 05:08:31
9   0000000063  CELL_0078  08062016 05:33:24
10  0000000044  CELL_0075  08062016 06:54:07
11  0000000000  CELL_0073  08062016 07:17:21
12  0000000008  CELL_0047  08062016 07:28:36
13  0000000012  CELL_0018  08062016 07:26:59
14  0000000019  CELL_0017  08062016 07:15:17
15  0000000065  CELL_0085  08062016 07:22:50
16  0000000022  CELL_0062  08062016 08:21:36
17  0000000036  CELL_0012  08062016 08:03:08
18  0000000049  CELL_0064  08062016 08:50:10
19  0000000062  CELL_0047  08062016 08:05:44
20  0000000069  CELL_0006  08062016 08:45:44
21  0000000074  CELL_0045  08062016 08:35:56
22  0000000077  CELL_0038  08062016 08:14:17
23  0000000096  CELL_0085  08062016 08:19:46
24  0000000002  CELL_0099  08062016 09:21:46
25  0000000004  CELL_0035  08062016 09:46:31
26  0000000005  CELL_0087  08062016 09:13:59
27  0000000010  CELL_0052  08062016 09:43:43
28  0000000015  CELL_0074  08062016 09:48:55
29  0000000016  CELL_0026  08062016 09:52:54
30  0000000021  CELL_0012  08062016 09:10:12
31  0000000027  CELL_0031  08062016 09:27:23
32  0000000028  CELL_0007  08062016 09:21:06
33  0000000035  CELL_0016  08062016 09:34:47
34  0000000037  CELL_0078  08062016 09:54:45
35  0000000039  CELL_0069  08062016 09:34:03
36  0000000047  CELL_0043  08062016 09:32:26
37  0000000078  CELL_0057  08062016 09:11:18
38  0000000081  CELL_0093  08062016 09:29:28
39  0000000084  CELL_0062  08062016 09:29:52
40  0000000088  CELL_0079  08062016 09:58:05
41  0000000090  CELL_0009  08062016 09:06:50
42  0000000099  CELL_0073  08062016 09:05:30

In [4]:
out[3]

{'caller SNA graph creation': 0.04999999999999982,
 'caller attribute creation': 1.3600000000000003,
 'caller creation (solo)': 0.0,
 'callers creation (full)': 1.4100000000000001,
 'circus creation': 0.0,
 'clocks': 0.0,
 'generators': 0.040000000000000036,
 'init generators': 0.0,
 'mobility attribute creation': 0.010000000000000231,
 'mobility graph creation': 0.009999999999999787,
 'one run (average)': 0.04300000000000002,
 'parameters': 0.0,
 'runs (all)': 0.43000000000000016}